<div class="section"></div>
<main class="login">
    <center>
        <div class="section"></div>

        <h5 class="indigo-text">Bank Service Login</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="width: 50%; display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" ng-submit="processForm()" ng-controller="LoginForm">
                    <div class="row">
                        <div class="col s12">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" type="text" name="accountId" id="accountId" ng-model="formLoginData.accountId" />
                            <label for="accountId">Enter your account id</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" type="password" name="password" id="password" ng-model="formLoginData.password" />
                            <label for="password">Enter your password</label>
                        </div>
                    </div>

                    <br />
                    <center>
                        <div class="row" style="width: 50%">
                            <button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect indigo">Login</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
        <a href="/#/newaccount">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
</main>