<div class="row">
    <div class="col s6">
        <!-- Grey navigation panel -->
        <div class="row">
            <div class="col s12 m12">
                <div class="card blue-grey darken-2" >
                    <div class="card-content white-text">
                        <span class="card-title">Account Transactions</span>
                        <table class="highlight stripped">
                            <thead>
                                <tr>
                                    <th data-field="timestammp">Date</th>
                                    <th data-field="transactionType">Type</th>
                                    <th data-field="transactionAmount">Amount</th>
                                    <th data-field="preBalance">Current Balance</th>
                                    <th data-field="posBalance">Available Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="transaction in transactionList">
                                    <td>{{ transaction.timeStamp | date : format : timezone}}</td>
                                    <td>{{ transaction.transactionType}}</td>
                                    <td>{{ transaction.transactionAmount}}</td>
                                    <td>{{ transaction.preBalance}}</td>
                                    <td>{{ transaction.posBalance}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <a ng-click="loadData()" href="">Refresh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6">
        <!-- Teal page content  -->
        <div class="row">
            <div class="col s12 m7">
                <div class="card" >
                    <div class="card-image" >
                        <img src="images/sample-1.jpg" alt="">
                        <span class="card-title">Welcome {{globals.userDetails.firstName}} {{globals.userDetails.lastName}}</span>
                    </div>
                    <div class="card-content">
                        <h6>Account ID: {{globals.accountDetails.accountId}}</h6>
                        <h6>Current Balance: €{{globals.accountDetails.balance}}</h6>
                        <span class="card-content">{{currentDate.now() | date:'M dd y'}}</span>
                    </div>
                    <div class="card-action">
                        <a href="#">User Details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Account Operations</span>

                        <div ng-controller="AccountActionsFormController">
                            <!-- PlaceHolder for Messages -->
                            <div id="messages" ng-show="message">{{ message }}</div>

                            <form name="accountActions" ng-submit="processForm()">
                                <!-- Selection of operation to execute -->
                                <div class="form-group">
                                    <label>Select Action</label>
                                    <select class="browser-default" name="selectAction" ng-model="formActionsData.action">
                                        <option value="" disabled selected>Choose one action</option>
                                        <option value="lodgement">Lodgement</option>
                                        <option value="withdraw">Withdraw</option>
                                        <option value="transfer">Transfer</option>
                                    </select>
                                </div>
                                
                                <!-- Destination Account -->
                                <div class="form-group" ng-if="formActionsData.action == 'transfer'">
                                    <label>Destination Account</label>
                                    <input type="text" name="transferDestAccount" class="form-control" placeholder="Insert destination account ID here..." ng-model="formActionsData.destAccountId">
                                    <span class="help-block"></span>
                                </div>

                                <!-- Description -->
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="text" name="transferValue" class="form-control" placeholder="Insert value here..." ng-model="formActionsData.amount" ui-money-mask>
                                    <span class="help-block"></span>
                                </div>

                                <!-- Transfer Button -->
                                <div class="form-group">
                                    <div>
                                        <button type="submit" ng-if="formActionsData.confirm != true" class="btn btn-success btn-lg btn-block">
                                            <span class="glyphicon glyphicon-flash"></span> Execute
                                        </button>
                                    </div>
                                    <div>
                                        <button type="submit" ng-if="formActionsData.confirm == true" class="btn btn-success btn-lg btn-block">
                                            <span class="glyphicon glyphicon-flash"></span> Confirm
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
